/* Scrollspy links */
[data-scrollspy-link].scrollspy-active {
  @apply text-blue-500 font-medium;
}

/* Prose/MDX content styles */
.prose {
  --tw-prose-body: theme("colors.gray.800");
  --tw-prose-headings: theme("colors.gray.900");
  --tw-prose-links: theme("colors.blue.500");
  --tw-prose-bold: theme("colors.gray.900");
  --tw-prose-counters: theme("colors.gray.600");
  --tw-prose-bullets: theme("colors.gray.400");
  --tw-prose-hr: theme("colors.gray.300");
  --tw-prose-quotes: theme("colors.gray.900");
  --tw-prose-quote-borders: theme("colors.gray.300");
  --tw-prose-captions: theme("colors.gray.700");
  --tw-prose-code: theme("colors.gray.900");
  --tw-prose-pre-code: theme("colors.gray.200");
  --tw-prose-pre-bg: theme("colors.gray.800");
  --tw-prose-th-borders: theme("colors.gray.300");
  --tw-prose-td-borders: theme("colors.gray.200");
}

.dark .prose-invert {
  --tw-prose-body: theme("colors.gray.300");
  --tw-prose-headings: theme("colors.white");
  --tw-prose-links: theme("colors.blue.400");
  --tw-prose-bold: theme("colors.white");
  --tw-prose-counters: theme("colors.gray.400");
  --tw-prose-bullets: theme("colors.gray.600");
  --tw-prose-hr: theme("colors.gray.700");
  --tw-prose-quotes: theme("colors.gray.100");
  --tw-prose-quote-borders: theme("colors.gray.700");
  --tw-prose-captions: theme("colors.gray.400");
  --tw-prose-code: theme("colors.white");
  --tw-prose-pre-code: theme("colors.gray.300");
  --tw-prose-pre-bg: theme("colors.gray.800");
  --tw-prose-th-borders: theme("colors.gray.600");
  --tw-prose-td-borders: theme("colors.gray.700");
}

/* Custom AOS animations */
[data-aos="zoom-y-out"] {
  transform: scaleX(1.03);
  opacity: 0;
  transition-property: transform, opacity;
}

@media screen {
  html:not(.no-js) body [data-aos="fade-up"] {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down"] {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  html:not(.no-js) body [data-aos="fade-right"] {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  html:not(.no-js) body [data-aos="fade-left"] {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  html:not(.no-js) body [data-aos="fade-up-right"] {
    -webkit-transform: translate3d(-10px, 10px, 0);
    transform: translate3d(-10px, 10px, 0);
  }

  html:not(.no-js) body [data-aos="fade-up-left"] {
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down-right"] {
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down-left"] {
    -webkit-transform: translate3d(10px, -10px, 0);
    transform: translate3d(10px, -10px, 0);
  }

  html:not(.no-js) body [data-aos="zoom-in-up"] {
    -webkit-transform: translate3d(0, 10px, 0) scale(0.6);
    transform: translate3d(0, 10px, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-down"] {
    -webkit-transform: translate3d(0, -10px, 0) scale(0.6);
    transform: translate3d(0, -10px, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-right"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale(0.6);
    transform: translate3d(-10px, 0, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-left"] {
    -webkit-transform: translate3d(10px, 0, 0) scale(0.6);
    transform: translate3d(10px, 0, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-out-up"] {
    -webkit-transform: translate3d(0, 10px, 0) scale(1.2);
    transform: translate3d(0, 10px, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-down"] {
    -webkit-transform: translate3d(0, -10px, 0) scale(1.2);
    transform: translate3d(0, -10px, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-right"] {
    -webkit-transform: translate3d(-10px, 0, 0) scale(1.2);
    transform: translate3d(-10px, 0, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-left"] {
    -webkit-transform: translate3d(10px, 0, 0) scale(1.2);
    transform: translate3d(10px, 0, 0) scale(1.2);
  }
}
